<div class="py-4 mx-2">
  <div class="grid">
    <b class="col-8 mr-3"
      >Total value of Taxable Electronic service exclusive of VAT
    </b>
    <span class="col-3 mr-3" style="float: right;">{{dataList.saleAmount}} THB</span>
  </div>
  <div class="grid pt-3">
    <div class="col-8 mr-3">
      <b> Total VAT to be Remitted </b>
      <div>
        (7% of Total value of Taxable Electronic service exclusive of VAT)
      </div>
    </div>
    <span class="col-3 mr-3 py-2 justify-content-end" style="float: right;">{{dataList.taxAmount}} THB</span>
  </div>
  <div class="grid pt-3">
      <b class="col-8 mr-3"> Total Amount Payable </b>
    <b class="col-3 mr-3 py-2 justify-content-end " style="float: right;">{{dataList.totalAmount}} THB</b>
  </div>
</div>
