<div class="py-4 mx-2">
  <div class="pb-4">
    <label class="p-d-block text-label"
      >Provide Total value Taxable Electronic Service
      <span style="color: red">*</span>
    </label>
  </div>
  <div class="grid ml-3 py-2">
    <div class="col-8">
      <label class="p-d-block text-label"
        >1. Total value of Taxable Electronic service exclusive of VAT
      </label>
    </div>
    <div class="col-4">
      <p-inputNumber
        [(ngModel)]="saleAmount"
        (ngModelChange)="saleAmountChange()"
        mode="currency"
        inputId="currency-thai"
        currency="THB"
        locale="en-TH"
        [useGrouping]="false"
        [ngClass]="{
          'ng-invalid ng-dirty':
          isSaleNull
        }"
      >
      </p-inputNumber>
      <small *ngIf="isSaleNull" id="username2-help" class="p-error block">Invalid Data!!</small>
    </div>
  </div>
  <div class="grid ml-3 py-2">
    <div class="col-8">
      <label class="p-d-block text-label"
        >2. Total VAT to be Remitted (7% of 1.)
      </label>
    </div>
    <div class="col-4">
      <p-inputNumber
        [(ngModel)]="taxAmount"
        (ngModelChange)="taxAmountChange()"
        aria-describedby="username2-help"
        mode="currency"
        inputId="currency-thai"
        currency="THB"
        locale="en-TH"
        [useGrouping]="false"
        [ngClass]="{
          'ng-invalid ng-dirty':
          isTaxNull || isInvalid
        }"
      >
      </p-inputNumber>
      <small *ngIf="isTaxNull || isInvalid" id="username2-help" class="p-error block">Invalid Data!!</small>
    </div>
  </div>
</div>
